
services:
  backend-yt-app:
    build:
      context: ./backend
      dockerfile: Dockerfile
    networks:
      - yt-ai-net
    ports:
      - 81:8001

  frontend-yt-app:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    networks:
      - yt-ai-net
    ports:
      - 80:3000

networks:
  yt-ai-net:
    driver: bridge